app_id="${APP_ID}"
app_name="${APP_NAME}"
app_cname="${APP_CNAME}"
app_version="${APP_VERSION}"
app_builddate="${APP_BUILD_DATE}"
app_desc="${APP_DESC}"
app_width=${APP_WIDTH}
app_height=${APP_HEIGHT}
